In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import datetime
import time
import gmaps
from scipy.stats import linregress

In [42]:
pwd

'C:\\Users\\John\\dataclass\\shockwave\\john'

In [45]:
#url = 'https://earthquake.usgs.gov/fdsnws/event/1/query?format=csv&starttime=2021-01-01&endtime=2021-01-31'
quake_df = pd.read_csv("../../../Downloads/all_earthquake/all_earthquake_data.zip")

#tables = pd.read_csv(url)
#quake_df = pd.DataFrame(tables)
quake_df.head()

,Unnamed: 0,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,...,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
0,0,1969-12-13T18:59:11.430Z,19.313000,-155.104000,5.914,2.78,ml,13.0,275.0,NaN,...,2020-03-31T16:17:27.060Z,"17 km S of Fern Forest, Hawaii",earthquake,2.440,2.23,0.12,1.0,reviewed,hv,hv
1,1,1969-12-13T17:55:57.400Z,46.709000,-119.234333,7.912,1.60,md,4.0,147.0,0.03201,...,2016-07-24T23:40:12.580Z,"13 km SSW of Othello, Washington",earthquake,3.871,2.93,0.24,0.0,reviewed,uw,uw
2,2,1969-12-13T13:03:04.570Z,19.466667,-155.487667,-0.150,1.94,ml,13.0,156.0,NaN,...,2020-03-31T16:17:26.920Z,"26 km W of Volcano, Hawaii",earthquake,0.670,0.72,NaN,0.0,reviewed,hv,hv
3,3,1969-12-13T12:53:50.580Z,19.443167,-155.248833,31.281,NaN,NaN,18.0,95.0,NaN,...,2020-03-31T16:17:26.770Z,"1 km W of Volcano, Hawaii",earthquake,0.740,1.28,NaN,NaN,reviewed,hv,hv
4,4,1969-12-13T10:43:38.000Z,19.304167,-155.210500,10.714,2.51,ml,20.0,200.0,NaN,...,2020-03-31T16:17:26.630Z,"15 km S of Volcano, Hawaii",earthquake,1.080,0.47,0.06,2.0,reviewed,hv,hv

In [46]:
quake_df.columns

Index(['Unnamed: 0', 'time', 'latitude', 'longitude', 'depth', 'mag',
       'magType', 'nst', 'gap', 'dmin', 'rms', 'net', 'id', 'updated', 'place',
       'type', 'horizontalError', 'depthError', 'magError', 'magNst', 'status',
       'locationSource', 'magSource'],
      dtype='object')

In [47]:
quake_df2 = quake_df[['time', 'latitude', 'longitude', 'mag',  'place']]

In [48]:
quake_df2.to_csv("../../../Downloads/all_earthquake/all_earthquake_data2.csv", index=False)

In [29]:
len(quake_df)

4053081

In [20]:
quake_df.dropna()
quake_df.head()

,Unnamed: 0,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,...,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
0,0,1969-12-13T18:59:11.430Z,19.313000,-155.104000,5.914,2.78,ml,13.0,275.0,NaN,...,2020-03-31T16:17:27.060Z,"17 km S of Fern Forest, Hawaii",earthquake,2.440,2.23,0.12,1.0,reviewed,hv,hv
1,1,1969-12-13T17:55:57.400Z,46.709000,-119.234333,7.912,1.60,md,4.0,147.0,0.03201,...,2016-07-24T23:40:12.580Z,"13 km SSW of Othello, Washington",earthquake,3.871,2.93,0.24,0.0,reviewed,uw,uw
2,2,1969-12-13T13:03:04.570Z,19.466667,-155.487667,-0.150,1.94,ml,13.0,156.0,NaN,...,2020-03-31T16:17:26.920Z,"26 km W of Volcano, Hawaii",earthquake,0.670,0.72,NaN,0.0,reviewed,hv,hv
3,3,1969-12-13T12:53:50.580Z,19.443167,-155.248833,31.281,NaN,NaN,18.0,95.0,NaN,...,2020-03-31T16:17:26.770Z,"1 km W of Volcano, Hawaii",earthquake,0.740,1.28,NaN,NaN,reviewed,hv,hv
4,4,1969-12-13T10:43:38.000Z,19.304167,-155.210500,10.714,2.51,ml,20.0,200.0,NaN,...,2020-03-31T16:17:26.630Z,"15 km S of Volcano, Hawaii",earthquake,1.080,0.47,0.06,2.0,reviewed,hv,hv

In [21]:
len(quake_df)

4053081

In [51]:
quake_df2['year'] = pd.DatetimeIndex(quake_df2['time']).year
locations = quake_df[["latitude", "longitude"]]
magnitude  = quake_df[['mag']].astype(float)
quake_df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4053081 entries, 0 to 4053080
Data columns (total 23 columns):
 #   Column           Dtype
---  ------           -----
 0   Unnamed: 0       int64
 1   time             object
 2   latitude         float64
 3   longitude        float64
 4   depth            float64
 5   mag              float64
 6   magType          object
 7   nst              float64
 8   gap              float64
 9   dmin             float64
 10  rms              float64
 11  net              object
 12  id               object
 13  updated          object
 14  place            object
 15  type             object
 16  horizontalError  float64
 17  depthError       float64
 18  magError         float64
 19  magNst           float64
 20  status           object
 21  locationSource   object
 22  magSource        object
dtypes: float64(12), int64(1), object(10)
memory usage: 711.2+ MB

<ipython-input-51-513f7cd7909c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  quake_df2['year'] = pd.DatetimeIndex(quake_df2['time']).year

In [52]:
quake_df2.head()

,time,latitude,longitude,mag,place,year
0,1969-12-13T18:59:11.430Z,19.313000,-155.104000,2.78,"17 km S of Fern Forest, Hawaii",1969
1,1969-12-13T17:55:57.400Z,46.709000,-119.234333,1.60,"13 km SSW of Othello, Washington",1969
2,1969-12-13T13:03:04.570Z,19.466667,-155.487667,1.94,"26 km W of Volcano, Hawaii",1969
3,1969-12-13T12:53:50.580Z,19.443167,-155.248833,NaN,"1 km W of Volcano, Hawaii",1969
4,1969-12-13T10:43:38.000Z,19.304167,-155.210500,2.51,"15 km S of Volcano, Hawaii",1969

In [54]:
num_of_quakes = quake_df2['year'].value_counts()

In [40]:
num_of_quakes.sort_index()

1969       400
1970      5657
1971      8672
1972      4957
1973      9994
1974     15139
1975     20377
1976     17975
1977     19608
1978     21420
1979     28231
1980     29391
1981     38819
1982     42401
1983     55344
1984     62469
1985     59094
1986     64769
1987     46523
1988     46911
1989     62091
1990     60454
1991     55425
1992     98341
1993     75120
1994     73237
1995     72225
1996     66105
1997     75361
1998     72315
1999     73050
2000     76297
2001     77089
2002     99451
2003    104090
2004    123003
2005    113412
2006    105501
2007     98301
2008    129320
2009     92061
2010    126845
2011    110971
2012    109522
2013    118764
2014    139921
2015    127072
2016    126595
2017    134606
2018    188723
2019    183415
2020    192297
2021     93950
Name: year, dtype: int64